# Instagram Graph API
IG_USER_ID=your_instagram_user_id
IG_ACCESS_TOKEN=your_long_lived_access_token

# Ollama
OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=llama3.2

# ComfyUI
COMFY_URL=http://localhost:8188
IMAGE_WIDTH=1080
IMAGE_HEIGHT=1350

MORNING_IMAGE_WIDTH=1080
MORNING_IMAGE_HEIGHT=1080

# ngrok
NGROK_AUTHTOKEN=your_ngrok_authtoken

# Telegram (Instabot)
TELEGRAM_BOT_TOKEN=fulltoken:includingnumbers
TELEGRAM_CHAT_ID=yourchatid

# Telegram (Good morning)
MORNING_BOT_TOKEN=xxx
MORNING_CHAT_ID=xxx  # same as TELEGRAM_CHAT_ID probably since it's you
MORNING_TIME=07:30   

# Your niche (e.g. "minimalist architecture", "surreal nature", "cyberpunk street food")
NICHE=minimalist architecture

# whatever filename you downloaded
COMFY_CHECKPOINT=realisticVisionV60B1_v51VAE.safetensors

# Post time (24hr format)
POST_TIME=09:00
GENERATE_TIME=08:00
